.modal-content h2 {
  font-weight: 500;
  font-size: 1.5em;
  line-height: 36px;

  color: #313131;
}
.modal-content p {
  font-weight: 300;
  font-size: 1em;
  line-height: 24px;

  color: #313131;
}
