.container {
  margin: 6% auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Wrapper div to make sure the TextField takes full width */
.unique-textfield-container {
  width: 100%;
}

/* Ensure TextField spans 100% of the container */
.unique-textfield {
  width: 90%;
}
