.main{
    margin-top:15%;
    background-color: #F6F2F0;
    background-color: #f1efee;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    width: 100%;
    text-align: center;
}

.content{
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-container{
    gap: 10%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}