@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@400;700&family=Poppins:wght@400;600&display=swap");

@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}
@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-primary-blue: #183e6a;
  --color-secondary-blue: #3f72af;
  --color-tertiary-blue: #e6ecf9;
  --color-background: #f9f7f7;
  --color-text-black: #1f1f1f;
  --color-text-grey: #535353;
  --font-alexandria: "Alexandria", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --background-gradient: linear-gradient(
    90deg,
    #3f72af 0%,
    #3f72af 9.13%,
    #112d4e 100%
  );
}
